<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/post.css">
    <title>게시글 수정 폼</title>

    <!-- wysiwyg editor summernote -->

    <script src="https://cdn.jsdelivr.net/npm/suneditor@2.45.1/dist/suneditor.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suneditor@2.45.1/dist/css/suneditor.min.css" rel="stylesheet">
    <!-- wysiwyg editor summernote -->

</head>
<body>

<header id="header"></header>
<div th:include="nav"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2>게시글 수정하기</h2>
    </div>

    <hr class="my-4">
    <div class="container">
        <div>
            <form id="edit"
                  th:action="@{/post/update/{postId}(postId=*{postId},page=${session.pageNumber},searchType=${searchType},searchWords=${searchWords})}"
                  th:object="${editDTO}" method="post">
                <input type="hidden" th:field="*{nickName}" form="edit">
                <div class="mb-3">
                    <label th:text="제목">제목</label>
                    <input class="form-control"
                           type="text"
                           id="title"
                           th:field="*{title}">
                    <div class="field-error" th:errors="*{title}"></div>
                </div>
                <div class="mb-3">
                    <label for="editor_classic" th:text="내용">내용</label>
                    <textarea class="form-control"
                              id="editor_classic"
                              th:field="*{postBody}" form="edit"
                              rows="8">내용</textarea>
                    <div class="field-error" th:errors="*{postBody}"></div>
                </div>

                <div class="mb-3">
                    <label th:text="해시태그">해시태그</label>
                    <input class="form-control"
                           type="text"
                           id="tagListString"
                           rows="8" placeholder="해시태그 이름 사이에 공백을 넣어주세요"
                           th:field="*{tags}">
                    <div class="field-error" th:errors="*{tags}"></div>
                </div>

                <input type="hidden" th:field="*{postId}">

                <hr class="my-4">
                <div class="row">
                    <div class="col">
                        <button class="w-100 btn btn-primary btn-lg"
                                type="button"
                                th:onclick="history.back()"
                                th:value="취소">취소
                        </button>
                    </div>
                    <div class="col">
                        <button class="w-100 btn btn-primary btn-lg"
                                type="submit" id="submit" th:value="등록">등록
                        </button>
                    </div>
                    <input class="csrf_input" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input class="csrf_input" type="hidden" th:name="${_csrf.getHeaderName()}">
                </div>
            </form>
        </div>
    </div>

</div>

<div th:include="footer"></div>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/lib/codemirror.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/htmlmixed/htmlmixed.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/xml/xml.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.0/mode/css/css.js"></script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"></script>
<script src="/js/cookie.js"></script>
<script src="/js/writePostTextEditor.js"></script>
</body>
<div th:include="footer"></div>
</html>