<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/blog.css" rel="stylesheet"/>
    <link href="/css/userForm.css" rel="stylesheet">
    <style>
        .btn-block {
            display: inline-block;
            font-size: 17px;
            line-height: 20px;
        }
    </style>
</head>
<body>
<div th:include="nav"></div>
<div class="contentBox">

    <br>
    <br>
    <form action th:action="@{/login-process}" th:object="${loginForm}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <label for="email"><h4>이메일</h4></label>
            <input type="text" id="email" name="email"
                   th:field="*{email}"
                   placeholder="geulkkoli@welcome.com"
                   th:errorclass="field-error"
                   class="form-control form-control-lg nickNameInline">
            <div class="field-error" th:errors="*{email}">
            </div>
        </div>
        <div>
            <label for="password"><h4>비밀번호</h4></label>
            <input type="password" id="password" name="password"
                   th:field="*{password}"
                   placeholder="password"
                   th:errorclass="field-error"
                   class="form-control form-control-lg nickNameInline">
            <div class="field-error" th:errors="*{password}">
            </div>
            <div th:if="${#request.getAttribute('loginError')!= null}">
                <div class="alert alert-danger">
                    <p th:text="${#request.getAttribute('loginError')}"></p>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-outline-success btn-lg" type="submit">로그인</button>
            </div>
        </div>

        <div class="my-md-3">
            <a th:href="@{/oauth2/authorization/kakao} " class="ms-lg-0">
                <img src="/images/login/kakao_login.png" alt="카카오 로그인">
            </a>
            <a th:href="@{/oauth2/authorization/naver}" class="mt-2">
                <img src="/images/login/naver_full_name.png" alt="네이버 로그인" style="width: 183px" height=45px>
            </a>
            <a th:href="@{/oauth2/authorization/google}" class="mt-2">
                <img src="/images/login/google_login.png" style="width: 183px" height="45px" alt="구글 로그인">
            </a>
        </div>

        <div class="m-sm-auto">
            <button type="button"
                    onclick="location.href='/find/email'"
                    class="noBack">이메일 찾기
            </button>
            &nbsp
            <button type="button"
                    onclick="location.href='/find/password'"
                    class="noBack">비밀번호 찾기
            </button>
        </div>
    </form>
</div>
<br>
<br>
<div id="footer" th:include="footer"></div>
<script src="/js/scripts.js"></script>
</body>
</html>